server:
  port: 9090

spring:
  application:
    name: wallet-service
  main:
    banner-mode: off

  jpa:
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml

  datasource:
    username: "dbuser"
    password: "12345"
    url: "jdbc:postgresql://wallet-db:5432/walletdb"
    driver-class-name: org.postgresql.Driver

  kafka:
    bootstrap-servers: kafka:9092
    properties:
      spring.json.trusted.packages: "*"

logging:
  level:
    liquibase: info
    org.springframework.jdbc.core: debug